
    body { 
      background-image: url('artandcraft.jpg');
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150vh;
    }

    .container {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      width: 100%;
      max-width: 400px;
    }

    .container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;
    }

    .form-group label {
      display: block;
      margin-bottom: 5px;
    }

    .form-group input {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }



    /* Input fields and textarea */
    .form-group label {
            display: block;
            font-size: 14px;
            margin-bottom: 3px;
            color: #555;
        }

        .form-group input,
        .form-group textarea {
            width: 94%;
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 1px;
            font-size: 14px;
        }

        .form-group textarea {
            resize: none;
        }

    .btn-submit {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }

    .btn-submit:hover {
      background-color: #0056b3;
    }

    .footer {
      text-align: center;
      margin-top: 10px;
    }

    .footer a {
      color: #007bff;
      text-decoration: none;
    }

    .footer a:hover {
      text-decoration: underline;
    }
    
    .error-message {
      color: red;
      font-size: 0.9em;
      margin-top: 5px;
      display: none;
    }